.background {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 90vh;
    background-color: #EFEFEF;
}
.page-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 70em;
    padding: 20px;
}
.tab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 100%;
}
.my-centered-tab-wrapper .ant-tabs-nav {
    display: flex !important;
    max-width: 60em !important;
}
.my-centered-tab-wrapper .ant-tabs-nav-list {
    display: flex !important;
    width: 100px;
}
.my-centered-tab-wrapper .ant-tabs-tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
