
/* CSS for the community profile Page */

.communityheader {
    background-color: antiquewhite;
}

.memberlist {
    background-color: antiquewhite;
}

.member {
    background-color: antiquewhite;
}
