.community-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 240px;
    min-width: 700px;
    max-width: 800px;
    padding: 10px;
}

.community-image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    align-items: center;
}
.community-image {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 2px solid rgb(230, 230, 230);
    object-fit: cover;
}

.community-info-container {
    max-width: 500px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 20px 0 20px;
}

.community-info-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}

.community-info-name-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.community-info-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.community-button {
    margin: 0 5px 0 5px;
}

