.user-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 240px;
    min-width: 700px;
    max-width: 800px;
    padding: 10px;
}

.user-image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    align-items: center;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 20px 0 20px;
}

.user-info-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}

.user-info-name-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.user-info-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.user-image {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.user-button {
    margin: 0 5px 0 5px;
}
