.community-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
    min-width: 600px;
    max-width: 600px;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
  }
  .community-card-container:hover {
    transition: box-shadow 0.1s;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
  }
  .community-image-container {
    margin-right: auto;

    margin: 0 0 0 10px;
    width: 80px;
  }
  .community-card-profile-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .community-name-container {
    margin: 0 10px 0 10px;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
  }
  .community-details-container {
    margin-left: auto;
    width: stretch;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  